@import '../../components/table.css';

:local .table {
    @apply --ui-table;
}

:local .form {
    & > fieldset > span {
        display: inline-block;
        position: relative;

        &[invalid]{
            & > input {
                border: 1px solid red;
            }
            &:after {
                display: block;
                position: absolute;
                right:0;
                top: 100%;
                padding: 0.1em 0.5em;
                boder-radius: 0.25em;
                content: attr(invalid);
                background: red;
                color:white;
                font-size: 0.8rem;
                line-height: 1em;
            }
        }
    }
}
