@import '../../components/table.css';

:local .Style {
    & > form {
        margin-bottom: 1rem;
        lost-flex-container: row;

        & > label {
            margin:0;
            lost-column: 1 0 flex;
        }

        & > button {
            lost-column: 1 0 flex;
        }

        & > div {
            lost-column: 1 0 flex;
            lost-flex-container: row;

            & > fieldset {
                lost-column: 1/2 flex;
                lost-column-cycle: 2; /* row after every 2nd element */
            }
        }
    }

    & > section {
        @apply --ui-table;

        & > h3 {
            margin:0;
        }
    }
}
