@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700');

html, body {
    min-height: 100vh; /* the footer will stay ay the bottom until content pushes it */
}

body {
    /* font size and space grows 1px every relatively to viewport width */
    font-size: calc(16px + 0.1vw);
    line-height: calc(1.1em + 0.1vw);
}

/* Overrides to ant design */
.ant-form-item {
    margin-bottom: 0
}
