/* @import '../../ui'; */
@global-import 'blaze/dist/components.tables.min.css';
/* @global-import 'blaze/dist/components.buttons.min.css'; */

:root {
}

:local .ui-table {
    overflow:hidden;
    background: blue;

    & > table {
        @inherit .c-table;

        & > thead {
            @inherit .c-table__head;

            & > tr {
                @inherit .c-table__row;
                background: red;

                & > th {
                    @inherit .c-table__cell;
                }
            }

        }

        & > tbody {
            @inherit .c-table__body;

            & > tr {
                @inherit .c-table__row;

                & > td {
                    background: orange;
                    @inherit .c-table__cell;
                }
            }

        }
    }
}
