---
import MainContainer from "src/containers/Main/index.astro";
---

<MainContainer meta-title="soy title" meta-description="soy description">
    <div id="placeholder" class="loading">Hello</div>
</MainContainer>
