:root {
    --ColorText: orangered;
    --ColorBg: lightblue;
}

:local .Style {
    display: block;

    & h1 {
        margin:auto;
        text-align: center;
        background-color: var(--ColorBg);
        color: var(--ColorText);
    }
}
