:root {

    --Color: darkblue;

    --Font {
        font-family: monospace;
        font-size: 10pt;
        font-weight: normal;
        color: #111;
    }

    --Placeholder {
        text-align: center;
        @apply --Font;
        font-weight:bold;
        color: color(var(--Color) blackness(+10%));
    }

}

:local .Style {
    & {
        display:table;
        width: 100%;
        overflow:scroll;
    }

    & > header,
    & > footer {
        display:table-row-group;

        & > article {
            display: table-row;
            & > div {
                display: table-cell;
                padding-left:0.5rem;
                padding-right:0.5rem;
                & > input,
                & > span {
                    display:block;
                    padding-left:0.5rem;
                    padding-right:0.5rem;
                    line-height:1.5rem;
                    white-space: nowrap;
                    @apply --Font;
                }
            }
        }
    }

    & > header {
        background:  var(--Color);
        & > article > div {
            padding-top: 0.85rem;
            padding-bottom: 0.85rem;
        }
        & > article > div > input {
            display:block;
            width:0;
            min-width:100%;
            border:0;
            border-radius: 0.25rem;
            &:focus {
                outline-color: color(var(--Color) saturation(+33%) lightness(+33%));
                background-color: color(var(--Color) lightness(+85%));
            }
        }
    }

    & > footer {
        & > article {
            &:nth-of-type(odd){
                background-color: color(var(--Color) saturation(+33%) lightness(+75%));
            }
            &:nth-of-type(even){
                background-color: color(var(--Color) saturation(+33%) lightness(+70%));
            }
        }
    }
}

::-webkit-input-placeholder { @apply --Placeholder }
::-moz-placeholder { @apply --Placeholder }
:-ms-input-placeholder { @apply --Placeholder }
input:-moz-placeholder { @apply --Placeholder }
