.Header {

    .HeaderLeft {

        h1 {
            margin: 0;
            padding: 0;
            color: #fff;
        }

    }

    .HeaderRight {
        text-align: right;
    }
}

.Content {
    padding: 1em;

    & > section {
        margin: 1em 0;
        padding: 1em;
        background: #fff;
    }
}


.Footer {
    text-align: center;
}
